[package]
name = "infra"
version = "0.1.0"
edition = "2021"

[dependencies]
bytes = "1.5.0"
eventstore = "2.3.0"
uuid = { version = "1.5.0", features = ["v4"] }
serde = "1.0.192"
serde_json = "1.0.108"
